# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
.git_old/
.git_backup/
.git_broken/
.git_corrupted_root/
.git_corrupted_root2/
dist_root_corrupted/
dist_old/
dist_old2/
dist_prod/
temp_clone/
temp_clone2/

# Expo
.expo/
dist/
dist_new/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android
.vercel
